@font-face {
  font-family: 'Elusive-Icons';
  src:url('../elusive/Elusive-Icons.eot');
  src:url('../elusive/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('../elusive/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('../elusive/Elusive-Icons.woff') format('woff'),
    url('../elusive/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="elusive-"]:before,
[class*=" elusive-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

a [class^="elusive-"],
a [class*=" elusive-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.elusive-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}

.btn [class^="elusive-"],
.btn [class*=" elusive-"],
.nav-tabs [class^="elusive-"],
.nav-tabs [class*=" elusive-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="elusive-"],
li [class*=" elusive-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .elusive-large:before,
li .elusive-large:before {
  /* 1.5 increased font size for elusive-large * 1.25 width */
  width: 1.5*1.25em;
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;
}

ul.icons li [class^="elusive-"],
ul.icons li [class*=" elusive-"] {
  width: .8em;
}

ul.icons li .elusive-large:before,
ul.icons li .elusive-large:before {
  /* 1.5 increased font size for elusive-large * 1.25 width */
  vertical-align: initial;
}

.btn-large [class^="elusive-"], .btn-large [class*=" elusive-"]{
  margin-top: 0;
}

.elusive-zoom-out:before             { content: "\e000"; }
.elusive-zoom-in:before              { content: "\e001"; }
.elusive-youtube:before              { content: "\e002"; }
.elusive-wrench-alt:before           { content: "\e003"; }
.elusive-wrench:before               { content: "\e004"; }
.elusive-wordpress:before            { content: "\e005"; }
.elusive-wheelchair:before           { content: "\e006"; }
.elusive-website-alt:before          { content: "\e007"; }
.elusive-website:before              { content: "\e008"; }
.elusive-warning-sign:before         { content: "\e009"; }
.elusive-w3c:before                  { content: "\e00a"; }
.elusive-volume-up:before            { content: "\e00b"; }
.elusive-volume-off:before           { content: "\e00c"; }
.elusive-volume-down:before          { content: "\e00d"; }
.elusive-vimeo:before                { content: "\e00e"; }
.elusive-view-mode:before            { content: "\e00f"; }
.elusive-video-chat:before           { content: "\e010"; }
.elusive-video-alt:before            { content: "\e011"; }
.elusive-video:before                { content: "\e012"; }
.elusive-user:before                 { content: "\e013"; }
.elusive-upload:before               { content: "\e014"; }
.elusive-unlock-alt:before           { content: "\e015"; }
.elusive-unlock:before               { content: "\e016"; }
.elusive-universal-access:before     { content: "\e017"; }
.elusive-twitter:before              { content: "\e018"; }
.elusive-tumblr:before               { content: "\e019"; }
.elusive-trash-alt:before            { content: "\e01a"; }
.elusive-trash:before                { content: "\e01b"; }
.elusive-torso:before                { content: "\e01c"; }
.elusive-tint:before                 { content: "\e01d"; }
.elusive-time-alt:before             { content: "\e01e"; }
.elusive-time:before                 { content: "\e01f"; }
.elusive-thumbs-up:before            { content: "\e020"; }
.elusive-thumbs-down:before          { content: "\e021"; }
.elusive-th-list:before              { content: "\e022"; }
.elusive-th-large:before             { content: "\e023"; }
.elusive-th:before                   { content: "\e024"; }
.elusive-text-width:before           { content: "\e025"; }
.elusive-text-height:before          { content: "\e026"; }
.elusive-tasks:before                { content: "\e027"; }
.elusive-tags:before                 { content: "\e028"; }
.elusive-tag:before                  { content: "\e029"; }
.elusive-stumbleupon:before          { content: "\e02a"; }
.elusive-stop-alt:before             { content: "\e02b"; }
.elusive-stop:before                 { content: "\e02c"; }
.elusive-step-forward:before         { content: "\e02d"; }
.elusive-step-backward:before        { content: "\e02e"; }
.elusive-star-empty:before           { content: "\e02f"; }
.elusive-star-alt:before             { content: "\e030"; }
.elusive-star:before                 { content: "\e031"; }
.elusive-speaker:before              { content: "\e032"; }
.elusive-smiley-alt:before           { content: "\e033"; }
.elusive-smiley:before               { content: "\e034"; }
.elusive-slideshare:before           { content: "\e035"; }
.elusive-skype:before                { content: "\e036"; }
.elusive-signal:before               { content: "\e037"; }
.elusive-shopping-cart-sign:before   { content: "\e038"; }
.elusive-shopping-cart:before        { content: "\e039"; }
.elusive-share-alt:before            { content: "\e03a"; }
.elusive-share:before                { content: "\e03b"; }
.elusive-search-alt:before           { content: "\e03c"; }
.elusive-search:before               { content: "\e03d"; }
.elusive-screenshot:before           { content: "\e03e"; }
.elusive-screen-alt:before           { content: "\e03f"; }
.elusive-screen:before               { content: "\e040"; }
.elusive-rss:before                  { content: "\e041"; }
.elusive-road:before                 { content: "\e042"; }
.elusive-reverse-alt:before          { content: "\e043"; }
.elusive-retweet:before              { content: "\e044"; }
.elusive-resize-vertical:before      { content: "\e045"; }
.elusive-resize-small:before         { content: "\e046"; }
.elusive-resize-horizontal:before    { content: "\e047"; }
.elusive-resize-full:before          { content: "\e048"; }
.elusive-repeat-alt:before           { content: "\e049"; }
.elusive-repeat:before               { content: "\e04a"; }
.elusive-remove-sign:before          { content: "\e04b"; }
.elusive-remove-circle:before        { content: "\e04c"; }
.elusive-remove:before               { content: "\e04d"; }
.elusive-refresh:before              { content: "\e04e"; }
.elusive-reddit:before               { content: "\e04f"; }
.elusive-record:before               { content: "\e050"; }
.elusive-random:before               { content: "\e051"; }
.elusive-quotes-alt:before           { content: "\e052"; }
.elusive-quotes:before               { content: "\e053"; }
.elusive-question-sign:before        { content: "\e054"; }
.elusive-question:before             { content: "\e055"; }
.elusive-qrcode:before               { content: "\e056"; }
.elusive-print:before                { content: "\e057"; }
.elusive-plus-sign:before            { content: "\e058"; }
.elusive-plus:before                 { content: "\e059"; }
.elusive-play-circle:before          { content: "\e05a"; }
.elusive-play-alt:before             { content: "\e05b"; }
.elusive-play:before                 { content: "\e05c"; }
.elusive-plane:before                { content: "\e05d"; }
.elusive-pinterest:before            { content: "\e05e"; }
.elusive-picture:before              { content: "\e05f"; }
.elusive-picasa:before               { content: "\e060"; }
.elusive-photo-alt:before            { content: "\e061"; }
.elusive-photo:before                { content: "\e062"; }
.elusive-phone-alt:before            { content: "\e063"; }
.elusive-phone:before                { content: "\e064"; }
.elusive-person:before               { content: "\e065"; }
.elusive-pencil-alt:before           { content: "\e066"; }
.elusive-pencil:before               { content: "\e067"; }
.elusive-pause-alt:before            { content: "\e068"; }
.elusive-pause:before                { content: "\e069"; }
.elusive-path:before                 { content: "\e06a"; }
.elusive-paper-clip-alt:before       { content: "\e06b"; }
.elusive-paper-clip:before           { content: "\e06c"; }
.elusive-ok-sign:before              { content: "\e06d"; }
.elusive-ok-circle:before            { content: "\e06e"; }
.elusive-ok:before                   { content: "\e06f"; }
.elusive-off:before                  { content: "\e070"; }
.elusive-network:before              { content: "\e071"; }
.elusive-music:before                { content: "\e072"; }
.elusive-move:before                 { content: "\e073"; }
.elusive-minus-sign:before           { content: "\e074"; }
.elusive-minus:before                { content: "\e075"; }
.elusive-mic-alt:before              { content: "\e076"; }
.elusive-mic:before                  { content: "\e077"; }
.elusive-map-marker-alt:before       { content: "\e078"; }
.elusive-map-marker:before           { content: "\e079"; }
.elusive-male:before                 { content: "\e07a"; }
.elusive-mail-alt:before             { content: "\e07b"; }
.elusive-magnet:before               { content: "\e07c"; }
.elusive-lock-alt:before             { content: "\e07d"; }
.elusive-lock:before                 { content: "\e07e"; }
.elusive-list-alt:before             { content: "\e07f"; }
.elusive-list:before                 { content: "\e080"; }
.elusive-linkedin:before             { content: "\e081"; }
.elusive-leaf:before                 { content: "\e082"; }
.elusive-laptop-alt:before           { content: "\e083"; }
.elusive-laptop:before               { content: "\e084"; }
.elusive-key:before                  { content: "\e085"; }
.elusive-italic:before               { content: "\e086"; }
.elusive-iphone-home:before          { content: "\e087"; }
.elusive-instagram:before            { content: "\e088"; }
.elusive-info-sign:before            { content: "\e089"; }
.elusive-indent-right:before         { content: "\e08a"; }
.elusive-indent-left:before          { content: "\e08b"; }
.elusive-inbox-box:before            { content: "\e08c"; }
.elusive-inbox-alt:before            { content: "\e08d"; }
.elusive-inbox:before                { content: "\e08e"; }
.elusive-idea-alt:before             { content: "\e08f"; }
.elusive-idea:before                 { content: "\e090"; }
.elusive-home-alt:before             { content: "\e091"; }
.elusive-home:before                 { content: "\e092"; }
.elusive-heart-empty:before          { content: "\e093"; }
.elusive-heart-alt:before            { content: "\e094"; }
.elusive-heart:before                { content: "\e095"; }
.elusive-hearing-impaired:before     { content: "\e096"; }
.elusive-headphones:before           { content: "\e097"; }
.elusive-hdd:before                  { content: "\e098"; }
.elusive-hand-up:before              { content: "\e099"; }
.elusive-hand-right:before           { content: "\e09a"; }
.elusive-hand-left:before            { content: "\e09b"; }
.elusive-hand-down:before            { content: "\e09c"; }
.elusive-guidedog:before             { content: "\e09d"; }
.elusive-group-alt:before            { content: "\e09e"; }
.elusive-group:before                { content: "\e09f"; }
.elusive-graph-alt:before            { content: "\e0a0"; }
.elusive-graph:before                { content: "\e0a1"; }
.elusive-googleplus:before           { content: "\e0a2"; }
.elusive-globe-alt:before            { content: "\e0a3"; }
.elusive-globe:before                { content: "\e0a4"; }
.elusive-glasses:before              { content: "\e0a5"; }
.elusive-glass:before                { content: "\e0a6"; }
.elusive-github-text:before          { content: "\e0a7"; }
.elusive-github:before               { content: "\e0a8"; }
.elusive-gift:before                 { content: "\e0a9"; }
.elusive-fullscreen:before           { content: "\e0aa"; }
.elusive-friendfeed-rect:before      { content: "\e0ab"; }
.elusive-friendfeed:before           { content: "\e0ac"; }
.elusive-foursquare:before           { content: "\e0ad"; }
.elusive-forward-alt:before          { content: "\e0ae"; }
.elusive-forward:before              { content: "\e0af"; }
.elusive-fontsize:before             { content: "\e0b0"; }
.elusive-font:before                 { content: "\e0b1"; }
.elusive-folder-sign:before          { content: "\e0b2"; }
.elusive-folder-open:before          { content: "\e0b3"; }
.elusive-folder-close:before         { content: "\e0b4"; }
.elusive-folder:before               { content: "\e0b5"; }
.elusive-flickr:before               { content: "\e0b6"; }
.elusive-flag-alt:before             { content: "\e0b7"; }
.elusive-flag:before                 { content: "\e0b8"; }
.elusive-fire:before                 { content: "\e0b9"; }
.elusive-filter:before               { content: "\e0ba"; }
.elusive-film:before                 { content: "\e0bb"; }
.elusive-file-new-alt:before         { content: "\e0bc"; }
.elusive-file-new:before             { content: "\e0bd"; }
.elusive-file-edit-alt:before        { content: "\e0be"; }
.elusive-file-edit:before            { content: "\e0bf"; }
.elusive-file-alt:before             { content: "\e0c0"; }
.elusive-file:before                 { content: "\e0c1"; }
.elusive-female:before               { content: "\e0c2"; }
.elusive-fast-forward:before         { content: "\e0c3"; }
.elusive-fast-backward:before        { content: "\e0c4"; }
.elusive-facetime-video:before       { content: "\e0c5"; }
.elusive-facebook:before             { content: "\e0c6"; }
.elusive-eye-open:before             { content: "\e0c7"; }
.elusive-eye-close:before            { content: "\e0c8"; }
.elusive-exclamation-sign:before     { content: "\e0c9"; }
.elusive-error-alt:before            { content: "\e0ca"; }
.elusive-error:before                { content: "\e0cb"; }
.elusive-envelope:before             { content: "\e0cc"; }
.elusive-eject:before                { content: "\e0cd"; }
.elusive-edit:before                 { content: "\e0ce"; }
.elusive-dribble:before              { content: "\e0cf"; }
.elusive-download-alt:before         { content: "\e0d0"; }
.elusive-download:before             { content: "\e0d1"; }
.elusive-digg:before                 { content: "\e0d2"; }
.elusive-deviantart:before           { content: "\e0d3"; }
.elusive-delicious:before            { content: "\e0d4"; }
.elusive-dashboard:before            { content: "\e0d5"; }
.elusive-css:before                  { content: "\e0d6"; }
.elusive-credit-card:before          { content: "\e0d7"; }
.elusive-compass-alt:before          { content: "\e0d8"; }
.elusive-compass:before              { content: "\e0d9"; }
.elusive-comment-alt:before          { content: "\e0da"; }
.elusive-comment:before              { content: "\e0db"; }
.elusive-cogs:before                 { content: "\e0dc"; }
.elusive-cog-alt:before              { content: "\e0dd"; }
.elusive-cog:before                  { content: "\e0de"; }
.elusive-cloud-alt:before            { content: "\e0df"; }
.elusive-cloud:before                { content: "\e0e0"; }
.elusive-circle-arrow-up:before      { content: "\e0e1"; }
.elusive-circle-arrow-right:before   { content: "\e0e2"; }
.elusive-circle-arrow-left:before    { content: "\e0e3"; }
.elusive-circle-arrow-down:before    { content: "\e0e4"; }
.elusive-child:before                { content: "\e0e5"; }
.elusive-chevron-up:before           { content: "\e0e6"; }
.elusive-chevron-right:before        { content: "\e0e7"; }
.elusive-chevron-left:before         { content: "\e0e8"; }
.elusive-chevron-down:before         { content: "\e0e9"; }
.elusive-check:before                { content: "\e0ea"; }
.elusive-certificate:before          { content: "\e0eb"; }
.elusive-cc:before                   { content: "\e0ec"; }
.elusive-camera:before               { content: "\e0ed"; }
.elusive-calendar-sign:before        { content: "\e0ee"; }
.elusive-calendar:before             { content: "\e0ef"; }
.elusive-bullhorn:before             { content: "\e0f0"; }
.elusive-briefcase:before            { content: "\e0f1"; }
.elusive-braille:before              { content: "\e0f2"; }
.elusive-bookmark-empty:before       { content: "\e0f3"; }
.elusive-bookmark:before             { content: "\e0f4"; }
.elusive-book:before                 { content: "\e0f5"; }
.elusive-bold:before                 { content: "\e0f6"; }
.elusive-blogger:before              { content: "\e0f7"; }
.elusive-blind:before                { content: "\e0f8"; }
.elusive-bell:before                 { content: "\e0f9"; }
.elusive-behance:before              { content: "\e0fa"; }
.elusive-barcode:before              { content: "\e0fb"; }
.elusive-ban-circle:before           { content: "\e0fc"; }
.elusive-backward:before             { content: "\e0fd"; }
.elusive-asterisk:before             { content: "\e0fe"; }
.elusive-asl:before                  { content: "\e0ff"; }
.elusive-arrow-up:before             { content: "\e100"; }
.elusive-arrow-right:before          { content: "\e101"; }
.elusive-arrow-left:before           { content: "\e102"; }
.elusive-arrow-down:before           { content: "\e103"; }
.elusive-align-right:before          { content: "\e104"; }
.elusive-align-left:before           { content: "\e105"; }
.elusive-align-justify:before        { content: "\e106"; }
.elusive-align-center:before         { content: "\e107"; }
.elusive-adult:before                { content: "\e108"; }
.elusive-adjust:before               { content: "\e109"; }
.elusive-address-book-alt:before     { content: "\e10a"; }
.elusive-address-book:before         { content: "\e10b"; }
.elusive-check-empty:before          { content: "\e10d"; }
.elusive-stackoverflow:before        { content: "\e10c"; }
