@font-face {
  font-family: 'Elusive-Icons';
  src:url('../elusive/Elusive-Icons.eot');
  src:url('../elusive/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('../elusive/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('../elusive/Elusive-Icons.woff') format('woff'),
    url('../elusive/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="elusive-"]:before,
[class*=" elusive-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

a [class^="elusive-"],
a [class*=" elusive-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.elusive-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}

.btn [class^="elusive-"],
.btn [class*=" elusive-"],
.nav-tabs [class^="elusive-"],
.nav-tabs [class*=" elusive-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="elusive-"],
li [class*=" elusive-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .elusive-large:before,
li .elusive-large:before {
  width: 1.875em;
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;
}

ul.icons li [class^="elusive-"],
ul.icons li [class*=" elusive-"] {
  width: .8em;
}

ul.icons li .elusive-large:before,
ul.icons li .elusive-large:before {
  vertical-align: initial;
}

.btn-large [class^="elusive-"], .btn-large [class*=" elusive-"]{
  margin-top: 0;
}

.elusive-briefcase:before {
  content: "\e10d";
}
.elusive-bullhorn:before {
  content: "\e10c";
}
.elusive-calendar:before {
  content: "\e10b";
}
.elusive-calendar-sign:before {
  content: "\e10a";
}
.elusive-cog:before {
  content: "\e109";
}
.elusive-cog-alt:before {
  content: "\e108";
}
.elusive-cogs:before {
  content: "\e107";
}
.elusive-comment:before {
  content: "\e106";
}
.elusive-error:before {
  content: "\e105";
}
.elusive-error-alt:before {
  content: "\e104";
}
.elusive-exclamation-sign:before {
  content: "\e103";
}
.elusive-eye-close:before {
  content: "\e102";
}
.elusive-flag-alt:before {
  content: "\e101";
}
.elusive-flickr:before {
  content: "\e100";
}
.elusive-folder:before {
  content: "\e0ff";
}
.elusive-folder-close:before {
  content: "\e0fe";
}
.elusive-globe-alt:before {
  content: "\e0fd";
}
.elusive-googleplus:before {
  content: "\e0fc";
}
.elusive-graph:before {
  content: "\e0fb";
}
.elusive-graph-alt:before {
  content: "\e0fa";
}
.elusive-idea-alt:before {
  content: "\e0f9";
}
.elusive-inbox:before {
  content: "\e0f8";
}
.elusive-inbox-alt:before {
  content: "\e0f7";
}
.elusive-inbox-box:before {
  content: "\e0f6";
}
.elusive-book:before {
  content: "\e0f5";
}
.elusive-bookmark:before {
  content: "\e0f4";
}
.elusive-bookmark-empty:before {
  content: "\e0f3";
}
.elusive-braille:before {
  content: "\e0f2";
}
.elusive-circle-arrow-right:before {
  content: "\e0f1";
}
.elusive-circle-arrow-up:before {
  content: "\e0f0";
}
.elusive-cloud:before {
  content: "\e0ef";
}
.elusive-cloud-alt:before {
  content: "\e0ee";
}
.elusive-edit:before {
  content: "\e0ed";
}
.elusive-eject:before {
  content: "\e0ec";
}
.elusive-envelope:before {
  content: "\e0eb";
}
.elusive-envelope-alt:before {
  content: "\e0ea";
}
.elusive-film:before {
  content: "\e0e9";
}
.elusive-filter:before {
  content: "\e0e8";
}
.elusive-fire:before {
  content: "\e0e7";
}
.elusive-flag:before {
  content: "\e0e6";
}
.elusive-github-text:before {
  content: "\e0e5";
}
.elusive-glass:before {
  content: "\e0e4";
}
.elusive-glasses:before {
  content: "\e0e3";
}
.elusive-globe:before {
  content: "\e0e2";
}
.elusive-heart-empty:before {
  content: "\e0e1";
}
.elusive-home:before {
  content: "\e0e0";
}
.elusive-home-alt:before {
  content: "\e0df";
}
.elusive-idea:before {
  content: "\e0de";
}
.elusive-address-book:before {
  content: "\e0dd";
}
.elusive-address-book-alt:before {
  content: "\e0dc";
}
.elusive-adjust:before {
  content: "\e0db";
}
.elusive-adult:before {
  content: "\e0da";
}
.elusive-align-center:before {
  content: "\e0d9";
}
.elusive-align-justify:before {
  content: "\e0d8";
}
.elusive-align-left:before {
  content: "\e0d7";
}
.elusive-align-right:before {
  content: "\e0d6";
}
.elusive-arrow-down:before {
  content: "\e0d5";
}
.elusive-arrow-left:before {
  content: "\e0d4";
}
.elusive-barcode:before {
  content: "\e0d3";
}
.elusive-behance:before {
  content: "\e0d2";
}
.elusive-bell:before {
  content: "\e0d1";
}
.elusive-blind:before {
  content: "\e0d0";
}
.elusive-blogger:before {
  content: "\e0cf";
}
.elusive-bold:before {
  content: "\e0ce";
}
.elusive-chevron-left:before {
  content: "\e0cd";
}
.elusive-chevron-right:before {
  content: "\e0cc";
}
.elusive-chevron-up:before {
  content: "\e0cb";
}
.elusive-child:before {
  content: "\e0ca";
}
.elusive-circle-arrow-down:before {
  content: "\e0c9";
}
.elusive-circle-arrow-left:before {
  content: "\e0c8";
}
.elusive-delicious:before {
  content: "\e0c7";
}
.elusive-deviantart:before {
  content: "\e0c6";
}
.elusive-digg:before {
  content: "\e0c5";
}
.elusive-download:before {
  content: "\e0c4";
}
.elusive-download-alt:before {
  content: "\e0c3";
}
.elusive-dribble:before {
  content: "\e0c2";
}
.elusive-file:before {
  content: "\e0c1";
}
.elusive-file-alt:before {
  content: "\e0c0";
}
.elusive-file-edit:before {
  content: "\e0bf";
}
.elusive-file-edit-alt:before {
  content: "\e0be";
}
.elusive-file-new:before {
  content: "\e0bd";
}
.elusive-file-new-alt:before {
  content: "\e0bc";
}
.elusive-foursquare:before {
  content: "\e0bb";
}
.elusive-friendfeed:before {
  content: "\e0ba";
}
.elusive-friendfeed-rect:before {
  content: "\e0b9";
}
.elusive-fullscreen:before {
  content: "\e0b8";
}
.elusive-gift:before {
  content: "\e0b7";
}
.elusive-github:before {
  content: "\e0b6";
}
.elusive-hand-up:before {
  content: "\e0b5";
}
.elusive-hdd:before {
  content: "\e0b4";
}
.elusive-headphones:before {
  content: "\e0b3";
}
.elusive-hearing-impaired:before {
  content: "\e0b2";
}
.elusive-heart:before {
  content: "\e0b1";
}
.elusive-heart-alt:before {
  content: "\e0b0";
}
.elusive-arrow-right:before {
  content: "\e0af";
}
.elusive-arrow-up:before {
  content: "\e0ae";
}
.elusive-asl:before {
  content: "\e0ad";
}
.elusive-asterisk:before {
  content: "\e0ac";
}
.elusive-backward:before {
  content: "\e0ab";
}
.elusive-ban-circle:before {
  content: "\e0aa";
}
.elusive-camera:before {
  content: "\e0a9";
}
.elusive-cc:before {
  content: "\e0a8";
}
.elusive-certificate:before {
  content: "\e0a7";
}
.elusive-check:before {
  content: "\e0a6";
}
.elusive-check-empty:before {
  content: "\e0a5";
}
.elusive-chevron-down:before {
  content: "\e0a4";
}
.elusive-comment-alt:before {
  content: "\e0a3";
}
.elusive-compass:before {
  content: "\e0a2";
}
.elusive-compass-alt:before {
  content: "\e0a1";
}
.elusive-credit-card:before {
  content: "\e0a0";
}
.elusive-css:before {
  content: "\e09f";
}
.elusive-dashboard:before {
  content: "\e09e";
}
.elusive-eye-open:before {
  content: "\e09d";
}
.elusive-facebook:before {
  content: "\e09c";
}
.elusive-facetime-video:before {
  content: "\e09b";
}
.elusive-fast-backward:before {
  content: "\e09a";
}
.elusive-fast-forward:before {
  content: "\e099";
}
.elusive-female:before {
  content: "\e098";
}
.elusive-folder-open:before {
  content: "\e097";
}
.elusive-folder-sign:before {
  content: "\e096";
}
.elusive-font:before {
  content: "\e095";
}
.elusive-fontsize:before {
  content: "\e094";
}
.elusive-forward:before {
  content: "\e093";
}
.elusive-forward-alt:before {
  content: "\e092";
}
.elusive-group:before {
  content: "\e091";
}
.elusive-group-alt:before {
  content: "\e090";
}
.elusive-guidedog:before {
  content: "\e08f";
}
.elusive-hand-down:before {
  content: "\e08e";
}
.elusive-hand-left:before {
  content: "\e08d";
}
.elusive-hand-right:before {
  content: "\e08c";
}
.elusive-indent-left:before {
  content: "\e08b";
}
.elusive-indent-right:before {
  content: "\e08a";
}
.elusive-info-sign:before {
  content: "\e089";
}
.elusive-instagram:before {
  content: "\e088";
}
.elusive-iphone-home:before {
  content: "\e087";
}
.elusive-italic:before {
  content: "\e086";
}
.elusive-key:before {
  content: "\e085";
}
.elusive-laptop:before {
  content: "\e084";
}
.elusive-laptop-alt:before {
  content: "\e083";
}
.elusive-leaf:before {
  content: "\e082";
}
.elusive-linkedin:before {
  content: "\e081";
}
.elusive-list:before {
  content: "\e080";
}
.elusive-list-alt:before {
  content: "\e07f";
}
.elusive-lock:before {
  content: "\e07e";
}
.elusive-lock-alt:before {
  content: "\e07d";
}
.elusive-magnet:before {
  content: "\e07c";
}
.elusive-male:before {
  content: "\e07b";
}
.elusive-map-marker:before {
  content: "\e07a";
}
.elusive-map-marker-alt:before {
  content: "\e079";
}
.elusive-mic:before {
  content: "\e078";
}
.elusive-mic-alt:before {
  content: "\e077";
}
.elusive-minus:before {
  content: "\e076";
}
.elusive-minus-sign:before {
  content: "\e075";
}
.elusive-move:before {
  content: "\e074";
}
.elusive-music:before {
  content: "\e073";
}
.elusive-network:before {
  content: "\e072";
}
.elusive-off:before {
  content: "\e071";
}
.elusive-ok:before {
  content: "\e070";
}
.elusive-ok-circle:before {
  content: "\e06f";
}
.elusive-ok-sign:before {
  content: "\e06e";
}
.elusive-paper-clip:before {
  content: "\e06d";
}
.elusive-paper-clip-alt:before {
  content: "\e06c";
}
.elusive-path:before {
  content: "\e06b";
}
.elusive-pause:before {
  content: "\e06a";
}
.elusive-pause-alt:before {
  content: "\e069";
}
.elusive-pencil:before {
  content: "\e068";
}
.elusive-pencil-alt:before {
  content: "\e067";
}
.elusive-person:before {
  content: "\e066";
}
.elusive-phone:before {
  content: "\e065";
}
.elusive-phone-alt:before {
  content: "\e064";
}
.elusive-photo:before {
  content: "\e063";
}
.elusive-photo-alt:before {
  content: "\e062";
}
.elusive-picasa:before {
  content: "\e061";
}
.elusive-picture:before {
  content: "\e060";
}
.elusive-pinterest:before {
  content: "\e05f";
}
.elusive-plane:before {
  content: "\e05e";
}
.elusive-play:before {
  content: "\e05d";
}
.elusive-play-alt:before {
  content: "\e05c";
}
.elusive-play-circle:before {
  content: "\e05b";
}
.elusive-plus:before {
  content: "\e05a";
}
.elusive-plus-sign:before {
  content: "\e059";
}
.elusive-print:before {
  content: "\e058";
}
.elusive-qrcode:before {
  content: "\e057";
}
.elusive-question:before {
  content: "\e056";
}
.elusive-question-sign:before {
  content: "\e055";
}
.elusive-quotes:before {
  content: "\e054";
}
.elusive-quotes-alt:before {
  content: "\e053";
}
.elusive-random:before {
  content: "\e052";
}
.elusive-record:before {
  content: "\e051";
}
.elusive-reddit:before {
  content: "\e050";
}
.elusive-refresh:before {
  content: "\e04f";
}
.elusive-remove:before {
  content: "\e04e";
}
.elusive-remove-circle:before {
  content: "\e04d";
}
.elusive-remove-sign:before {
  content: "\e04c";
}
.elusive-repeat:before {
  content: "\e04b";
}
.elusive-repeat-alt:before {
  content: "\e04a";
}
.elusive-resize-full:before {
  content: "\e049";
}
.elusive-resize-horizontal:before {
  content: "\e048";
}
.elusive-resize-small:before {
  content: "\e047";
}
.elusive-resize-vertical:before {
  content: "\e046";
}
.elusive-retweet:before {
  content: "\e045";
}
.elusive-reverse-alt:before {
  content: "\e044";
}
.elusive-road:before {
  content: "\e043";
}
.elusive-rss:before {
  content: "\e042";
}
.elusive-screen:before {
  content: "\e041";
}
.elusive-screen-alt:before {
  content: "\e040";
}
.elusive-screenshot:before {
  content: "\e03f";
}
.elusive-search:before {
  content: "\e03e";
}
.elusive-search-alt:before {
  content: "\e03d";
}
.elusive-share:before {
  content: "\e03c";
}
.elusive-share-alt:before {
  content: "\e03b";
}
.elusive-shopping-cart:before {
  content: "\e03a";
}
.elusive-shopping-cart-sign:before {
  content: "\e039";
}
.elusive-signal:before {
  content: "\e038";
}
.elusive-skype:before {
  content: "\e037";
}
.elusive-slideshare:before {
  content: "\e036";
}
.elusive-smiley:before {
  content: "\e035";
}
.elusive-smiley-alt:before {
  content: "\e034";
}
.elusive-speaker:before {
  content: "\e033";
}
.elusive-stackoverflow:before {
  content: "\e032";
}
.elusive-star:before {
  content: "\e031";
}
.elusive-star-alt:before {
  content: "\e030";
}
.elusive-star-empty:before {
  content: "\e02f";
}
.elusive-step-backward:before {
  content: "\e02e";
}
.elusive-step-forward:before {
  content: "\e02d";
}
.elusive-stop:before {
  content: "\e02c";
}
.elusive-stop-alt:before {
  content: "\e02b";
}
.elusive-stumbleupon:before {
  content: "\e02a";
}
.elusive-tag:before {
  content: "\e029";
}
.elusive-tags:before {
  content: "\e028";
}
.elusive-tasks:before {
  content: "\e027";
}
.elusive-text-height:before {
  content: "\e026";
}
.elusive-text-width:before {
  content: "\e025";
}
.elusive-th:before {
  content: "\e024";
}
.elusive-th-large:before {
  content: "\e023";
}
.elusive-th-list:before {
  content: "\e022";
}
.elusive-thumbs-down:before {
  content: "\e021";
}
.elusive-thumbs-up:before {
  content: "\e020";
}
.elusive-time:before {
  content: "\e01f";
}
.elusive-time-alt:before {
  content: "\e01e";
}
.elusive-tint:before {
  content: "\e01d";
}
.elusive-torso:before {
  content: "\e01c";
}
.elusive-trash:before {
  content: "\e01b";
}
.elusive-trash-alt:before {
  content: "\e01a";
}
.elusive-tumblr:before {
  content: "\e019";
}
.elusive-twitter:before {
  content: "\e018";
}
.elusive-universal-access:before {
  content: "\e017";
}
.elusive-unlock:before {
  content: "\e016";
}
.elusive-unlock-alt:before {
  content: "\e015";
}
.elusive-upload:before {
  content: "\e014";
}
.elusive-user:before {
  content: "\e013";
}
.elusive-video:before {
  content: "\e012";
}
.elusive-video-alt:before {
  content: "\e011";
}
.elusive-video-chat:before {
  content: "\e010";
}
.elusive-view-mode:before {
  content: "\e00f";
}
.elusive-vimeo:before {
  content: "\e00e";
}
.elusive-volume-down:before {
  content: "\e00d";
}
.elusive-volume-off:before {
  content: "\e00c";
}
.elusive-volume-up:before {
  content: "\e00b";
}
.elusive-w3c:before {
  content: "\e00a";
}
.elusive-warning-sign:before {
  content: "\e009";
}
.elusive-website:before {
  content: "\e008";
}
.elusive-website-alt:before {
  content: "\e007";
}
.elusive-wheelchair:before {
  content: "\e006";
}
.elusive-wordpress:before {
  content: "\e005";
}
.elusive-wrench:before {
  content: "\e004";
}
.elusive-wrench-alt:before {
  content: "\e003";
}
.elusive-youtube:before {
  content: "\e002";
}
.elusive-zoom-in:before {
  content: "\e001";
}
.elusive-zoom-out:before {
  content: "\e000";
}
.elusive-vkontakte:before {
  content: "\e10e";
}